{% extends "layout.html" %}

{% block content %}
<section class="home-container">
    <h1 class="title">Add Art Term</h1>
    <form method="POST" action="{{ url_for('add_art_term') }}" class="post-form">
        <input type="text" name="title" placeholder="Art term title" required>
        <textarea name="definition" placeholder="Art term definition" rows="8" required></textarea>
        <input type="file" name="image_file" accept="image/*" required>
        <button type="submit" class="admin-btn">Save Art Term</button>
    </form>
</section>
{% endblock %}