{% extends "layout.html" %}

{% block content %}
<section class="home-container">
    <h1 class="title">Add Timeline Event</h1>
    <p class="subtitle">Create a new timeline event</p>

    <form method="POST" class="post-form">
        <input type="text" name="title" placeholder="Event title" required>

        <textarea name="description" placeholder="Event description" rows="8" required></textarea>

        <input type="text" name="date" placeholder="Date (e.g. 2026-04-29)" required>

        <button type="submit" class="admin-btn">Save Timeline Event</button>
    </form>
</section>
{% endblock %}
