{% extends "layout.html" %}

{% block content %}
<section class="home-container">
    <h1 class="title">Edit Post</h1>
    <form method="POST" action="{{ url_for('edit_timeline_event', IDtimelineEvent=timelineEvent.IDtimelineEvent) }}" class="post-form">
        <input type="text" name="title" value="{{ timelineEvent.title }}" required>
        <textarea name="description" rows="8" required>{{ timelineEvent.description }}</textarea>
        <input type="text" name="date" value="{{ timelineEvent.date }}" required>
        <button type="submit" class="admin-btn">Save Changes</button>
    </form>
</section>
{% endblock %}
